<?xml version="1.0"?>
<configuration>

  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <authorization>
      <allow users="?" />
      <allow roles="KUCCMember" />
      <allow roles="administrator" />
      <allow roles="administrator" />
      <allow roles="KUCCMember" />
      <allow roles="MechanicalClubMember" />
    </authorization>
  </system.web>

</configuration>
